@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');
@import "tailwindcss";


@layer base {
  :root {
    --text: #15110a;
    --background: #fbf8f4;
    --primary: #bf914f;
    --secondary: #e0c19a;
    --accent: #d9ac6d;
  }
  .dark {
    --text: #f5f1ea;
    --background: #0b0804;
    --primary: #b08140;
    --secondary: #65461f;
    --accent: #926526;
  }
}


body {

  background-color: var(--background);
  font-family: 'Inter';
  font-weight: 400;
  transition: background-color 0.4s ease, color 0.4s ease;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}